@font-face {
  font-family: 'KTF Forma';
  src: url('../../public/fonts/KTFForma-Regular.eot');
  src: url('../../public/fonts/KTFForma-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/KTFForma-Regular.woff2') format('woff2'),
       url('../../public/fonts/KTFForma-Regular.woff') format('woff'),
       url('../../public/fonts/KTFForma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}